<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalReports.Engine" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.FlashControlV71" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.ClientDoc" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.CommonControls" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.Controllers" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.DataSetConversion" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.ObjectFactory" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.Prompting" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.XmlSerialize" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.Shared" version="13.0.3501" targetFramework="net461" />
  <package id="Dapper" version="1.50.5" targetFramework="net461" />
  <package id="log4net" version="1.2.10" targetFramework="net461" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net461" />
</packages>